<%= link_to("<< Back to List", subjects_path, :class => 'back-link') %>

<div class="subjects edit">
  <h2>Create Subject</h2>

  <%= form_for(@subject, :url => subject_path(@subject), :method => 'patch') do |f| %>

<%= render(:partial =>'form',:locals=>{:f=>f}) %>
    <div class="form-buttons">
      <%= f.submit("Update Subject") %>
    </div>

  <% end %>
</div>
